* {
	font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 100%;
    height: 950px;
    position: relative;
    margin: 0 auto;
}

#tabs {
    position: relative;
    width: 90%;
    height: 900px;
    margin: 0 auto;
}

h2, h4 {
    color: #2779aa;
    padding: 10px 0;
}

input {
    background-color: #cae1f3;
    border: 1px solid;
    border-radius: 5px;
    color: #2779aa;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin: 10px 0;
    padding: 10px;
    text-align: left;
    width: 30%;
}

input:hover {
    background-color: #b7d3e9;
}

hr {
    border: 0;
    color: #065172;
    height: 3px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #d7ebf9, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #d7ebf9, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #d7ebf9, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #d7ebf9, #f0f0f0);
    margin: 40px auto;
    width: 100%;
}

.firstDiv {
    width: 50%;
    height: auto;
    float: left;
}

.firstDiv > img {
    width: 95%;
    height: auto;
    margin: 0 auto;
}

.secondDiv {
    width: 50%;
    text-align: center;
    height: auto;
    float: right;
}

#sbtbtn1, #sbtbtn2 {
    background-color: #b2d3e9;
    text-align: center;
    width: auto;
    padding: 10px 20px;
}

#sbtbtn1:hover, #sbtbtn2:hover {
    background-color: #9bc5e0;
    cursor: pointer;
}

#results1, #results2 {
    color: #2779aa;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
}
