* {
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
}


/* WRAPPER */

.clear {
    clear: both;
}

#wrapper {
    width: 80%;
    height: auto;
    margin: 0 auto;
}


/* HEADER */

header {
    width: 100%;
}

header a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    color: black;
    font-style: italic;
    font-weight: 200;
    display: inline-block;
}

header h1 .logo-color {
    color: rgb(116, 9, 9);
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    font-style: italic;
    font-weight: 200;
}

header input {
    border: 1px solid rgb(63, 59, 59);
    border-radius: 1px;
    padding: 5px 10px;
    color: black;
    box-shadow: inset 0 10px 4px -10px rgba(122, 19, 19, 0.274);
}

header input:hover {
    border: 1px solid rgb(32, 31, 31);
    box-shadow: inset 0 10px 4px -13px rgba(122, 19, 19, 0.411);
}

header ul {
    list-style: none;
    float: right;
}

header ul li {
    display: inline-block;
    margin-left: 10px;
}

nav {
    float: right;
    padding-top: 25px;
}

nav>ul>li>a:link {
    font-size: 1.3em;
    transition: all 0.3s ease;
}

nav>ul>li>a:visited {
    color: rgb(116, 9, 9);
}

nav>ul>li>a:hover {
    color: rgb(122, 19, 19);
    text-shadow: 3px 3px 12px rgba(122, 19, 19, 0.226);
}

nav>ul>li>a:active {
    color: rgb(116, 9, 9);
}

.header {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}


/* PRESENTATION SECTION */

hr {
    border: 0;
    color: rgb(122, 19, 19);
    height: 1px;
    background: -webkit-linear-gradient(left, #f0f0f0, rgba(116, 23, 23, 0.342), #f0f0f0);
    background: -moz-linear-gradient(left, #f0f0f0, rgba(116, 23, 23, 0.342), #f0f0f0);
    background: -ms-linear-gradient(left, #f0f0f0, rgba(116, 23, 23, 0.342), #f0f0f0);
    background: -o-linear-gradient(left, #f0f0f0, rgba(116, 23, 23, 0.342), #f0f0f0);
    margin: 40px auto;
    width: 90%;
}

.presentation__section-image {
    background: url(../images/james-price-335314a.jpg) no-repeat center;
    width: 90%;
    margin: 10px auto;
    min-height: 500px;
}

.presentation__section-image div a {
    width: auto;
    height: auto;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 1px;
    font-size: 2.5em;
    font-weight: 200;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    float: right;
    margin-top: 20px;
}

.presentation__section-image div a:hover {
    background-color: rgba(255, 255, 255, 0.082);
}

.presentation__section-image div,
.presentation__section-text {
    width: 80%;
    margin: 0 auto;
}

.presentation__section-image div h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    color: white;
    font-style: italic;
    text-align: right;
    padding-top: 150px;
    text-transform: capitalize;
}

.presentation__section-text h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 2.3em;
    padding: 20px 0;
}

.presentation__section-text p {
    font-size: 1.3em;
}


/* PRODUCTS SECTION */

main {
    width: 80%;
    margin: 0 auto;
}

.product {
    width: 25%;
    float: left;
    box-sizing: border-box;
}

.product h3 {
    font-size: 1.3em;
    padding: 10px 0 10px 30px;
}

.product h3 a {
    text-decoration: none;
    color: black;
}

.product h3:hover {
    color: rgb(122, 19, 19);
    text-shadow: 3px 3px 12px rgba(122, 19, 19, 0.226);
}

.product h3:active {
    color: rgb(116, 9, 9);
}

.product h4 {
    font-size: 1em;
    padding: 0 0 10px 30px;
}

.product__image_wrapper {
    position: relative;
}

.product__image_outfit,
.product__image_model {
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    overflow: hidden;
    float: left;
    transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
}

.product__image_outfit {
    opacity: 1;
}

.product__image_model {
    opacity: 0;
    position: absolute;
}

.product__image_outfit:hover {
    opacity: 0;
}

.product__image_model:hover {
    opacity: 1;
}

.product_price {
    font-size: 1em;
    padding: 0 0 10px 30px;
}


/* FOOTER */

footer {
    width: 70%;
    margin: 0 auto;
    padding: 0;
}

footer h3 {
    font-size: 1.8em;
    padding: 10px 0;
}

.footer__links {
    width: 20%;
    float: left;
}

.footer__links ul {
    list-style: none;
}

.footer__links ul li {
    padding: 10px 0;
}

.footer__links ul li a:link {
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    margin: 10px 0;
    transition: all 0.3s ease;
}

.footer__links ul li a:visited {
    color: rgb(116, 9, 9);
}

.footer__links ul li a:hover {
    color: rgb(122, 19, 19);
    text-shadow: 3px 3px 12px rgba(122, 19, 19, 0.226);
}

.footer__links ul li a:active {
    color: rgb(116, 9, 9);
}

.footer__announcements {
    width: 50%;
    float: left;
    padding-left: 20px;
}

.footer__coming-soon {
    max-width: 25%;
    float: right;
}

.footer__coming-soon img {
    width: 100%;
}


/* COPYRIGHT */

#copyright {
    width: 50%;
    margin: 0 auto;
    font-size: 1.4em;
    text-align: center;
    padding: 20px 0;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1280px) {
    #wrapper {
        width: 90%;
    }
}

@media screen and (max-width: 980px) {
    #wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 880px) {
    nav {
        float: left;
    }
    nav ul li {
        margin-left: 0;
        margin-right: 10px;
    }
    footer {
        width: 80%;
    }
}

@media screen and (max-width: 760px) {
    main {
        width: 90%;
    }
    .product {
        width: 50%;
    }
    footer {
        width: 90%;
    }
    .footer__announcements {
        width: 43%;
        padding-right: 10px;
    }
    .footer__coming-soon {
        max-width: 27%;
    }
}

@media screen and (max-width: 480px) {
    header input {
        width: 70px;
    }
    .header {
        width: 95%;
    }
    .product {
        width: 100%;
    }
    .presentation__section-image {
        width: 100%;
    }
    .presentation__section-image div h2 {
        padding-top: 100px;
    }
    .footer__links,
    .footer__announcements,
    .footer__coming-soon {
        width: 90%;
        float: left;
        padding: 0;
    }
    .footer__coming-soon {
        max-width: 60%;
    }
}

@media screen and (max-width: 320px) {
    header input {
        width: 50px;
    }
    .presentation__section-image div h2 {
        padding-top: 50px;
    }
}